
.bell-icon {
    position: relative;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    display: flex;
}

.bell-icon svg {
    margin: auto;
    position: relative;
    right: 2%;
    width: 80%;
    height: 80%;
    stroke: rgba(0, 0, 0, 0.75);
}

.bell-icon .bell-icon__group {
    transform-origin: 50% 2px;
    transform: rotate(-8deg);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; */
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.bell-icon .bell-icon__ball {
    transform-origin: 50% 2px;
    transform: translateX(-6.5%);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; */
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.bell-icon,
.bell-icon {
    outline: none;
    box-shadow: 0 0 12px -8px rgba(0, 0, 0, 0.6);
}

.bell-icon__group_animation {
    -webkit-animation: animateGroup 2.3s;
    animation: animateGroup 2.3s;

    animation-iteration-count: infinite;
}

.bell-icon__ball_animation {
    -webkit-animation: animateBall 2.3s;
    animation: animateBall 2.3s;
    animation-iteration-count: infinite;
}

.bell-icon .notification-amount,
.bell-icon .notification-amount {
    opacity: 1;
    visibility: visible;
}

.bell-icon .notification-amount::before,
.bell-icon .notification-amount::before {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-delay: 450ms;
    animation-delay: 450ms;
    /* animation-iteration-count: infinite; */
}

.notification-amount {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 16px;
    height: 16px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Copse", serif;
    font-size: 12px;
}

.notification-amount span {
    position: relative;
}

.notification-amount::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f72918;
    border-radius: 50%;
    z-index: 0;
    transform: scale(0);
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes animateGroup {

    0%,
    100% {
        transform: rotate(-8deg);
    }

    17.542% {
        transform: rotate(0deg);
    }

    35.084% {
        transform: rotate(-20deg);
    }

    48.2405% {
        transform: rotate(20deg);
    }

    57.0115% {
        transform: rotate(-20deg);
    }

    64.9054% {
        transform: rotate(8deg);
    }

    74.5535% {
        transform: rotate(-15deg);
    }

    78.939% {
        transform: rotate(-7deg);
    }
}

@keyframes animateGroup {

    0%,
    100% {
        transform: rotate(-8deg);
    }

    17.542% {
        transform: rotate(0deg);
    }

    35.084% {
        transform: rotate(-20deg);
    }

    48.2405% {
        transform: rotate(20deg);
    }

    57.0115% {
        transform: rotate(-20deg);
    }

    64.9054% {
        transform: rotate(8deg);
    }

    74.5535% {
        transform: rotate(-15deg);
    }

    78.939% {
        transform: rotate(-7deg);
    }
}

@-webkit-keyframes animateBall {

    0%,
    100% {
        transform: translateX(-6.5%);
    }

    17.542% {
        transform: translateX(0%);
    }

    21.9275% {
        transform: translateX(-1%);
    }

    35.084% {
        transform: translateX(11%);
    }

    48.2405% {
        transform: translateX(-11%);
    }

    52.626% {
        transform: translateX(0%);
    }

    59.6428% {
        transform: translateX(10%);
    }

    68.4138% {
        transform: translateX(-11%);
    }

    78.939% {
        transform: translateX(11%);
    }

    85.9558% {
        transform: translateX(-11%);
    }
}

@keyframes animateBall {

    0%,
    100% {
        transform: translateX(-6.5%);
    }

    17.542% {
        transform: translateX(0%);
    }

    21.9275% {
        transform: translateX(-1%);
    }

    35.084% {
        transform: translateX(11%);
    }

    48.2405% {
        transform: translateX(-11%);
    }

    52.626% {
        transform: translateX(0%);
    }

    59.6428% {
        transform: translateX(10%);
    }

    68.4138% {
        transform: translateX(-11%);
    }

    78.939% {
        transform: translateX(11%);
    }

    85.9558% {
        transform: translateX(-11%);
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(0);
    }

    14% {
        transform: scale(1.15);
    }

    28% {
        transform: scale(1);
    }

    42% {
        transform: scale(1.15);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bounce {
    0% {
        transform: scale(0);
    }

    14% {
        transform: scale(1.15);
    }

    28% {
        transform: scale(1);
    }

    42% {
        transform: scale(1.15);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.notify{
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    
}

.notification img{
    width: 50px;
    margin-right: 10px;
    flex-direction: row;
    justify-items: space-around;
}

.time-notify {
    color: #8b8787;
    font-size: 11px;
}